@use "./variables.scss" as v;

body {
  background-color: v.$background-light-theme;
  color: v.$main-text-light-theme;
}

.global-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
