$background-light-theme: #F6F6F8;
$container-light-theme: #FFFFFF;
$main-text-light-theme: #000000;
$secondary-text-light-theme: #666666;


$background-dark-theme: #0C121E;
$container-dark-theme: #202C3C;
$main-text-dark-theme: #ffffff;
$secondary-text-dark-theme: #5A6676;
